#name{
    
}
#sqr{
    background-color: rgb(87, 97, 105);
    padding: 30px;
    /* margin-bottom: 0%; */
    /* margin-top: 100px; */
    margin-left: 100px;
    margin-right: 100px;
}
#we{
    background-color: rgb(107, 170, 151);
    
    position: absolute;
    text-align: center;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 5%;
    margin-left:75%;
    font-weight: 800;
    font-size:xx-large;
    color: aliceblue;
}
#bg
{   padding-top: 10%;
    position:absolute;
    align-self: center;
      /* margin-top: 100px; */
}